.connection-history-box {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.connection-history-title {
  line-height: 1.8em;
}

.connection-history-title h1 {
  color: #024abd;
  padding-bottom: 0.4em;
  font-size: 1.8em;
}

.connection-history-table {
  margin-top: 3em;
}

.connection-date {
  padding-right: -10em;
}

.status-btn {
  justify-content: center;
  align-items: center;
  padding: 0 0;
  width: 70px;
  height: 26px;

  /* White */
  background: #ffffff;
  /* Border/4 */
  border: 1px solid #bdc3ca;
  border-radius: 56px;
  font-size: 0.7em;
}

#thead {
  background-color: #FAFAFB;

}