.payment-box {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  font-size: 0.78em;
  /* padding-left: 13%; */
}

.payment-title h1 {
  padding-bottom: 0.8em;
  font-size: 2.3em;
  color: #024abd;
}

.cart {
  width: 100%;
  height: auto;
  background: #FAFAFB;
}

.card-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 3em;
  /* border: 1px solid red; */
  width: 800px;
  height: 120px;
  font-size: 0.9em;
  background: white;
  box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.product-image {
  flex: 1;
  /* border: 1px solid blue; */
  display: flex;
  height: 105px;
  margin-left: 0.8em;
  background: #FAFAFB;
  font-size: 0.8em;
}

.product-image img {
  max-width: 100px;
  max-height: 100px;
  margin-top: 20px;
  margin-left: 10px;
}

.product-image h6 {
  position: absolute;
}

.product-content {
  flex: 2;
  height: 105px;
  text-align: left;
  line-height: 2em;
  margin-left: 1.5em;
  padding-left: 0.3em;
}

.product-content h6 {
  color: #496FB6;
  margin-top: 0.7em;
}

.amount {
  flex: 1;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 2em 2em 2em;
  column-gap: 1em;
  text-align: center;
  justify-content: center;
  border: 1px solid #e4d8d8;
  border-radius: 5px;
  background: #FFFFFF;
  align-items: center;
}

.amount button {
  background: transparent;
  border: none;
  text-align: center;
  font-size: medium;
  color: #979494;
  padding-bottom: 0.1em;
}

.amount .add {
  border-right: 1px solid #e4d8d8;
  padding-right: 0.5em;
}

.amount .minus {
  border-left: 1px solid #e4d8d8;
  padding-left: 0.5em;
}

.price {
  flex: 1;
  /* border: 1px solid black; */
  text-align: center;
  margin-left: 1.5em;
}

.price h6 {
  font-size: 1.15em;
}

.discount {
  flex: 1;
  text-align: center;
}

.discount h6 {
  font-size: 1.15em;
}

.card-border {
  border: 1px solid #dce1e5;;
  height: 90px;
}

.total {
  flex: 1;
  text-align: center;
}

.total h6 {
  font-size: 1.15em;
}

.final-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 47em;
  margin-bottom: 2em;
}

.final-amount h6 {
  font-size: 1em;
}

.final-amount h5 {
  font-size: 1.5em;
  margin-left: 1em;
}

.order-form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid black; */
}

.order-form .order-menu-nav {
  display: flex;
  align-items: flex-start;
  width: 800px;
  margin-top: 3.5em;
  padding-bottom: 1.5em;
  border-bottom: 3px solid #024abd;
}

.order-form .order-menu-nav input {  
  margin: 0.5em 0.2em 0 1em;
}

.order-form .order-menu-nav p {
  font-size: 0.7em;
  margin-top: 0.7em;
}

/* 주문자 정보 입력 박스 */
.order-user-form-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 800px;
  height: 100%;
  margin: 0 auto;
  margin-top: 2.5em;
  padding-bottom: 1em;
  border-bottom: 3px solid #024abd;
  font-size: 0.78em;
  /* border: 1px solid black; */
}

.order-form .order-user-form-box .order-user-form {
  display: flex;
  width: 800px;
  padding: 0em 0 2em 0;
  align-items: center;
  /* border: 1px solid green; */
}

.order-form .order-user-form-box .order-user-form p {
  flex: 0.23;
  font-weight: bold;
}

.order-form .order-user-form-box .order-user-form sup {
  color: red;
  font-weight: bold;
}

.order-form .order-user-form-box .order-user-form .border {
  flex: 0;
  border: 2px solid #9ba8b4;
  padding-top: 2.2em;
  margin-right: 2em;
  border-radius: 5px;
}

.order-form .order-user-form-box .order-user-form input {
  flex: 0.8;
  padding: 0em 0 0.5em 0;
  border: 2px solid #c0cad3;
  border-radius: 5px;
  width: 80px;
}

#adress-border {
  margin-left: 2.27em;
}

.order-form .order-user-form-box .order-user-form button {
  margin-left: 1em;
  margin-top: 0.1em;
  text-align: center;
  gap: 4px;
  width: 85px;
  height: 35px;
  color: white;
  background: #303030;
  border-radius: 20px;
  font-size: 0.9em;
}

#charge-name {
  flex: 0.59;
}

#charge-phone {
  margin-left: 2em;
  flex: 0.42;
}

#charge-phone-input {
  /* padding-left: 1em; */
  margin-left: -1.5em;
}

#license-border {
  margin-left: 2.27em;
}

#uploadFile {
  margin-left: 1em;
  margin-top: 0.1em;
  text-align: center;
  gap: 4px;
  width: 85px;
  height: 35px;
  color: white;
  background: #024abd;
  border: #024abd;
  border-radius: 20px;
  font-size: 0.9em;
}

/* #fileUpload {
  text-align: left;
} */

#refund-notice {
  color: #13AAFF;
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: end;
  font-weight: bold;
  margin-left: 1em;
}

#account-copy-border {
  margin-left: 2.27em;
}

#pay {
  display: flex;
  margin: 0 auto;
  margin-top: 3.5em;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  color: white;
  background: #024abd;
  border: #024abd;
  border-radius: 35px;
  font-size: 0.75em;
}

#paywith {
  display: flex;
  flex: 1 1 1 1;
  margin-bottom: 2em;
  width: 100%;
  margin-top: -1em;
  font-size: 0.9em;
}

#paywith p {
  margin-right: 2em;
}

#paywith input {
  margin-right: 0.2em;
}

#lastSection {
  height: 10vh;
}